<div class="table-list">

  <table mat-table
         [dataSource]="machines" multiTemplateDataRows
         class="mat-elevation-z8">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
      <th mat-header-cell *matHeaderCellDef> {{columnTranslated[column]}} </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="column != 'options' && column !='boughtHere'">
          {{element[column]}}
        </div>
        <div *ngIf="column === 'boughtHere'">
          {{element[column]? "si":"no"}}
        </div>
        <div *ngIf="column == 'options'">
          <div class="wrapper">
            <div class="delete">
              <button mat-mini-fab color="warn" (click)="delete(element.id)"><i
                class="material-icons">restore_from_trash</i></button>
            </div>
            <div class="update">
              <a routerLink="/updateMachine/{{element.id}}">
                <button mat-mini-fab color="accent"><i class="material-icons">edit</i></button>
              </a>
            </div>

          </div>
        </div>
       </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element">
    </tr>
  </table>


  <div class="plus">
    <a routerLink="/addMachine">
      <button mat-fab color="primary">
        <i class="material-icons">add</i>
      </button>
    </a>
  </div>

</div>





