<form class="example-form" [formGroup]="form">
  <mat-form-field class="example-full-width">
    <input #name matInput placeholder="Nombre" formControlName="name">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input #surname matInput placeholder="Apellido" formControlName="surname">
  </mat-form-field>

  <mat-form-field>
    <mat-select #position placeholder="Posición" formControlName="position">
      <mat-option value="BOSS">Jefe</mat-option>
      <mat-option value="OWNER">Dueño/a</mat-option>
      <mat-option value="TECHNICIAN">Técnico</mat-option>
      <mat-option value="SALES">Ventas</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="plus">
    <button (click)="add()">
    <i class="material-icons">person_add</i>
    </button>
  </div>

</form>



