<form class="example-form" [formGroup]="form">

  <div>
    <span>Servicio Técnico con Id: {{id}}</span>
  </div>

  <div>
    <mat-form-field class="example-full-width">
      <input #employee matInput placeholder="{{oldTechnicalService.employee}}" formControlName="name" [defaultValue]="oldTechnicalService.employee">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="example-full-width">
      <input #client matInput placeholder="{{oldTechnicalService.client}}" formControlName="surname" [defaultValue]="oldTechnicalService.client">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="example-full-width">
      <input #description matInput placeholder="{{oldTechnicalService.description}}" formControlName="surname" [defaultValue]="oldTechnicalService.description">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="example-full-width">
      <input #admissionDate matInput placeholder="{{oldTechnicalService.admissionDate}}" formControlName="surname" [defaultValue]="oldTechnicalService.admissionDate">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="example-full-width">
      <input #egressDate matInput placeholder="{{oldTechnicalService.egressDate}}" formControlName="surname" [defaultValue]="oldTechnicalService.egressDate">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="example-full-width">
      <input #price matInput placeholder="{{oldTechnicalService.price}}" formControlName="surname" [defaultValue]="oldTechnicalService.price">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="example-full-width">
      <input #paymentMethod matInput placeholder="{{oldTechnicalService.paymentMethod}}" formControlName="surname" [defaultValue]="oldTechnicalService.paymentMethod">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="example-full-width">
      <input #delivered matInput placeholder="{{oldTechnicalService.delivered}}" formControlName="surname" [defaultValue]="oldTechnicalService.delivered">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-select #status placeholder="{{positionTranslated[oldTechnicalService.status]}}" formControlName="status">
        <mat-option value="ONSERVICE">En Servicio</mat-option>
        <mat-option value="DELAYED">Retrasada</mat-option>
        <mat-option value="READY">Listo</mat-option>
        <mat-option value="DELIVERED">Entregado</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="plus">
    <button (click)="update()" [disabled]="form.invalid">
      <i class="material-icons">person_add</i>
    </button>
  </div>

</form>
