<form class="example-form" [formGroup]="form">
  <mat-form-field class="example-full-width">
    <input #name matInput placeholder="Nombre" formControlName="name">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input #surname matInput placeholder="Apellido" formControlName="surname">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input #mail matInput placeholder="Correo electrónico" formControlName="mail">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input #phone1 matInput placeholder="Teléfono" formControlName="phone1">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input #phone2 matInput placeholder="Teléfono alternativo" formControlName="phone2">
  </mat-form-field>

  <div class="plus">
    <button (click)="add()" [disabled]="form.invalid">
      <i class="material-icons">person_add</i>
    </button>
  </div>

</form>


