<form class="example-form" [formGroup]="form">

  <div>
    <span>Cliente con Id: {{id}}</span>
  </div>

  <div>
    <mat-form-field class="example-full-width">
      <input #name matInput placeholder="{{oldClient.name}}" formControlName="name" [defaultValue]="oldClient.name">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="example-full-width">
      <input #surname matInput placeholder="{{oldClient.surname}}" formControlName="surname"
             [defaultValue]="oldClient.surname">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="example-full-width">
      <input #mail matInput placeholder="{{oldClient.mail}}" formControlName="mail">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="example-full-width">
      <input #phone1 matInput placeholder="{{oldClient.phone1}}" formControlName="phone1">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="example-full-width">
      <input #phone2 matInput placeholder="{{oldClient.phone2}}" formControlName="phone2">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Máquinas</mat-label>
      <mat-select formControlName="machineList" multiple>
        <mat-option *ngFor="let machine of machineList" [value]="machine">{{machine.internalCode}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="plus">
    <button (click)="update()" [disabled]="form.invalid">
      <i class="material-icons">person_add</i>
    </button>
  </div>

</form>
