<form class="example-form" [formGroup]="form">

  <div>
    <span>Máquina con Id: {{id}}</span>
  </div>

  <div>
    <mat-form-field class="example-full-width">
      <input #internalCode matInput placeholder="{{oldMachine.internalCode}}" formControlName="internalCode" [defaultValue]="oldMachine.internalCode">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="example-full-width">
      <input #brand matInput placeholder="{{oldMachine.brand}}" formControlName="brand" [defaultValue]="oldMachine.brand">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="example-full-width">
      <input #model matInput placeholder="{{oldMachine.model}}" formControlName="model" [defaultValue]="oldMachine.model">
    </mat-form-field>
  </div>

  <div>
    <mat-slide-toggle class="example-full-width">
      <input #boughtHere matInput placeholder="{{oldMachine.boughtHere}}" formControlName="boughtHere" [defaultValue]="oldMachine.boughtHere">
    </mat-slide-toggle>
  </div>

  <div class="plus">
    <button (click)="update()">
      <i class="material-icons">person_add</i>
    </button>
  </div>

</form>
