<!--The content below is only a placeholder and can be replaced.-->
<div id="icon-menu">
  <h1>
    {{ title }}
  </h1>
  <img width="300" alt="JCC logo" src="assets/Logo plata_ico.ico">
</div>
<div class=mainBar>
  <a routerLink="/employees">
    <span class="name">Empleados</span>
  </a>
  <a routerLink="/client">
    <span class="name">Clientes</span>
  </a>
  <a routerLink="/machine">
    <span class="name">Maquinas</span>
  </a>
  <a routerLink="/technicalService">
    <span class="name">Servicio Tecnico</span>
  </a>
<!--<li class="labels">-->
<!--  -->
<!--</li>-->
</div>
<router-outlet></router-outlet>
