<!--The content below is only a placeholder and can be replaced.-->
<div id="icon-menu">
  <h1>
    {{ title }}
  </h1>
  <img width="300" alt="JCC logo" src="assets/Logo plata_ico.ico">
</div>
<div class=mainBar>
  <a routerLink="/employees">
    <span class="name">Empleados</span>
  </a>

  <a routerLink="/machines">
    <span class="name">Maquinas</span>
  </a>

  <a routerLink="/clients">
    <span class="name">Clientes</span>
  </a>

  <a routerLink="/technicalServices">
    <span class="name">Servicio Técnico</span>
  </a>
</div>
<router-outlet></router-outlet>
