<form class="example-form" [formGroup]="form">

  <mat-form-field class="example-full-width">
    <input #internalCode matInput placeholder="Código Interno" formControlName="internalCode">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input #brand matInput placeholder="Marca" formControlName="brand">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input #model matInput placeholder="Modelo" formControlName="model">
  </mat-form-field>

<!--  TODO moreeeeeeee como hago el tema del boolean?-->
  <mat-slide-toggle class="example-full-width">
    <input #boughtHere matInput placeholder="Fue comprada acá?" formControlName="boughtHere">
  </mat-slide-toggle>


  <div class="plus">
    <button (click)="add()" [disabled]="form.invalid">
    <i class="material-icons">person_add</i>
    </button>
  </div>

</form>



