<form class="example-form" [formGroup]="form">

  <mat-form-field class="example-full-width">
    <input #internalCode matInput placeholder="Código Interno" formControlName="internalCode">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input #brand matInput placeholder="Marca" formControlName="brand">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input #model matInput placeholder="Modelo" formControlName="model">
  </mat-form-field>

  <mat-slide-toggle class="example-full-width" formControlName="boughtHere">
    Fue Comprada acá?
  </mat-slide-toggle>

<!--  <input #boughtHere matInput placeholder="Fue comprada acá?" formControlName="boughtHere">-->
  <div class="plus">
    <button (click)="add()" [disabled]="form.invalid">
    <i class="material-icons">person_add</i>
    </button>
  </div>

</form>



