<form class="example-form" [formGroup]="form">
  <mat-form-field class="example-full-width">
    <input #employee matInput placeholder="Empleado" formControlName="employee">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input #client matInput placeholder="Cliente" formControlName="client">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input #description matInput placeholder="Descripción" formControlName="description">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input #admissionDate matInput placeholder="Ingreso" formControlName="admissionDate">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input #egressDate matInput placeholder="Egreso" formControlName="egressDate">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input #price matInput placeholder="Precio" formControlName="price">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input #paymentMethod matInput placeholder="Método de Pago" formControlName="paymentMethod">
  </mat-form-field>

  <!--  TODO moreeeeeeee como hago el tema del boolean?   -->
  <mat-slide-toggle class="example-full-width">
    <input #delivered matInput placeholder="Entregado?" formControlName="delivered">
  </mat-slide-toggle>

  <mat-form-field>
    <mat-select #status placeholder="Estado" formControlName="status">
      <mat-option value="ONSERVICE">En servicio</mat-option>
      <mat-option value="DELAYED">Retrasada</mat-option>
      <mat-option value="READY">Listo</mat-option>
      <mat-option value="DELIVERED">Entregado</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="plus">
    <button (click)="add()" [disabled]="form.invalid">
    <i class="material-icons">person_add</i>
    </button>
  </div>

</form>



