<form class="example-form" [formGroup]="form">
  <!--Todo selectors       https://material.angular.io/components/select/overview-->
  <mat-form-field class="example-full-width">
      <mat-label>Responsable</mat-label>
      <mat-select formControlName="employee">
        <mat-option *ngFor="let employee of employees" [value]="employee.id">
          {{employee.name}}
        </mat-option>
      </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Cliente</mat-label>
    <mat-select formControlName="client">
      <mat-option *ngFor="let client of clients" [value]="client.id">
        {{client.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input #description matInput placeholder="Descripción" formControlName="description">
  </mat-form-field>

<!--Todo dates               https://material.angular.io/components/datepicker/overview-->
  <mat-form-field class="example-full-width">
    <input matInput [max]="today" [matDatepicker]="picker" placeholder="Día de Ingreso" formControlName="admissionDate" disabled>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker disabled="false"></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input #price matInput placeholder="Precio" formControlName="price">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input #paymentMethod matInput placeholder="Método de Pago" formControlName="paymentMethod">
  </mat-form-field>

  <mat-form-field>
    <mat-select #status placeholder="Estado" formControlName="status">
      <mat-option value="ONSERVICE">En servicio</mat-option>
      <mat-option value="DELAYED">Retrasada</mat-option>
      <mat-option value="READY">Listo</mat-option>
      <mat-option value="DELIVERED">Entregado</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="plus">
    <button (click)="add()" [disabled]="form.invalid">
      <i class="material-icons">person_add</i>
    </button>
  </div>

</form>



