<div class="table-list">

  <table mat-table
         [dataSource]="technicalServices" multiTemplateDataRows
         class="mat-elevation-z8">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
      <td mat-cell *matCellDef="let element">
        <div *ngIf="column == 'status'">
          {{element.status | TranslateStatusPipe}}
        </div>
        <div *ngIf="column == 'employee'">
          {{element.employee["name"]}}
        </div>
        <div *ngIf="column == 'client'">
          {{element.client["name"]}}
        </div>
        <div *ngIf="column == 'admissionDate'">
          {{element.admissionDate| date:'shortDate'}}
        </div>
        <div *ngIf="column == 'egressDate'">
          {{element.egressDate| date:'shortDate'}}
        </div>
        <div *ngIf="column != 'status' && column != 'employee' && column!='client' && column != 'options' && column != 'admissionDate' && column != 'egressDate'">
          {{element[column]}}
        </div>
        <div *ngIf="column == 'options'">
          <div class="wrapper">
            <div class="delete">
              <button mat-mini-fab color="warn" (click)="delete(element.id)"><i
                class="material-icons">restore_from_trash</i></button>
            </div>
            <div class="update">
              <a routerLink="/updateTechnicalService/{{element.id}}">
                <button mat-mini-fab color="accent"><i class="material-icons">edit</i></button>
              </a>
            </div>

          </div>
        </div>
      </td>
      <th mat-header-cell *matHeaderCellDef> {{columnTranslated[column]}} </th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
        class="example-element-row"
        [class.example-expanded-row]="element">
    </tr>
  </table>


  <div class="plus">
    <a routerLink="/addTechnicalService">
      <button mat-fab color="primary">
        <i class="material-icons">add</i>
      </button>
    </a>
  </div>

</div>
