/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.table-list {
  padding-left: 70px;
  padding-right: 70px;
}

#icon-menu{
  text-align:center;
  padding-bottom: 50px;
}
